* {
  margin: 0;
  padding: 0;
}
body {
  background: #f9f7f4;
}
/* header */
.header__phone,
.menu__item__btn {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #ffffff;
}

.header__menu {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.menu__item__btn:hover,
.header__phone:hover {
  border-bottom: 1px solid #ffffff;
}
.menu__item {
}
.header__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #ffffff;
  border-bottom: 1px solid rgba(27, 31, 43, 0);
}
.header {
  position: absolute;
  width: 100%;
}
.header.fixed {
  position: fixed;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  top: 0;
  left: 0;
  z-index: 111;
}
.header.fixed .menu__item__btn,
.header.fixed .header__phone {
  color: #1b1f2b;
}
.header.fixed .menu__item__btn:hover,
.header.fixed .header__phone:hover {
  border-bottom: 1px solid #1b1f2b;
}

.header__logo {
  max-height: 30.239999771118164px;
  max-width: 181.83506774902344px;
  width: 100%;
  width: 100%;
}
.header__wrapper {
  max-width: 1168px;
  height: 30.24px;
  margin: 28.88px auto;

  display: flex;

  justify-content: space-between;
  align-items: center;
}
/* intro */
.intro {
  background: url(images/header-background.jpg) no-repeat center;
  height: 830px;
  max-width: 100%;
  margin: 0;
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 207px;
  gap: 50px;
}
.intro__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 768px;
  height: 315px;
}
.intro__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #ffffff;
  width: 562px;
  height: 56px;
}
.intro__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 34px;
  background: #ffffff;
  border-radius: 10px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1b1f2b;
  cursor: pointer;
}
.intro__button:hover {
  background: #efa501;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.intro__button:active {
  background: #f8e6be;
  color: #1b1f2b;
}
/* choice tour*/
.choice-tour__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 135px;
}
.choice-tour__title {
  width: fit-content;
  font-family: Roboto;
  font-size: 59px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  color: #1b1f2b;
}
.tabs {
  margin-top: 35px;
}
.tabs__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tabs__header-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #1b1f2b;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.tabs__header-item.active {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #efa501;
  border-bottom: 2px solid #efa501;
}
.tabs__header-item.active:hover {
  border-bottom: 2px solid #efa501;
}
.tabs__header-item:hover {
  border-bottom: 2px solid #1b1f2b;
}
.tabs__body {
  margin-top: 100px;
}
.tabs__body-content {
  display: none;
}
.tabs__body-content.active {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1170px;
}
.card {
  width: 370px;
  height: 531px;
  background-image: url(images/card__1.jpg);
  background-size: 100%;
  border-radius: 50px;
  background-position: center;
  transition: background-size 0.3s ease;
  cursor: pointer;
}
.card__background {
  box-sizing: border-box;
  padding: 50px;
  border-radius: 50px;
  position: inherit;
  width: 370px;
  height: 531px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  background-size: 120% auto;
}
.card:hover .card__button {
  background: #286562;
  border-radius: 50px;
}
.card:active .card__button {
  background: #efa501;
  border-radius: 50px;
}
.card__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__title h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #ffffff;
}
.card__title p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.card__button-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__button {
  padding: 7px 20px;
  margin: -7px -20px;
  gap: 15px;
  width: 159px;
  height: 28px;
  cursor: pointer;
}
.card__button-image {
  height: 15px;
  width: 22px;
}
#card_1 {
  background-image: url(images/card_1.jpg);
}
#card_2 {
  background-image: url(images/card_2.jpg);
}
#card_3 {
  background-image: url(images/card_3.jpg);
}
#card_4 {
  background-image: url(images/card_4.jpg);
}
#card_5 {
  background-image: url(images/card_5.jpg);
}
#card_6 {
  background-image: url(images/card_6.jpg);
}
/* custom-tour */
.custom-tour {
  margin: 0 auto;
  margin-top: 135px;
  max-width: 1170px;
}
.custom-tour__title_wrapper {
  height: 159px;
  width: 458px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-tour__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
  color: #1b1f2b;
}
.custom-tour__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #a6a6a6;
}
.custom-tour__form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 70px;
  background: #ffffff;
  border-radius: 50px;
}
.custom-tour__form_wrapper {
  margin-top: 100px;
}
.form__item p {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1b1f2b;
}
.custom-tour__form input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #a6a6a6;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.custom-tour__form input[type="date"],
.custom-tour__form input[type="text"],
.custom-tour__form input[type="tel"],
.custom-tour__form select {
  height: 66px;
  width: 498px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f9f7f4;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  flex: 0 1 50%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  /* or 28px */

  /* Black */

  color: #1b1f2b;
}
.custom-tour__form input[type="date"]:hover,
.custom-tour__form input[type="text"]:hover,
.custom-tour__form input[type="tel"]:hover,
.form__input-text:hover,
.custom-tour__form select:hover {
  background: #f4f0e9;
}
.custom-tour__form input[type="date"]:focus,
.custom-tour__form input[type="text"]:focus,
.custom-tour__form input[type="tel"]:focus,
.form__input-text:focus,
.custom-tour__form select:focus {
  background: #f4f0e9;
  outline: none;
  border: 1px solid #a6a6a6;
}
.custom-tour__form input[type="date"] {
  color: #a6a6a6;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.form__item-radio {
  display: none;
}
.form__item-radio_custom {
  display: block;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  border: solid 5px #ffffff;
  outline: solid 2px #1b1f2b;
  margin-right: 7px;
  cursor: pointer;
}

.form__item-radio:checked + .form__item-radio_custom {
  display: block;
  width: 12px;
  height: 12px;
  background: #1b1f2b;
  border-radius: 50%;
  border: solid 5px #ffffff;
  outline: solid 2px #1b1f2b;
}
.form__item-radio_wrapper {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1b1f2b;
  align-items: center;
}
.form__item-radio_wrapper._gap {
  gap: 30px;
}
.form__item-check_custom {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border: 2px solid #1b1f2b;
  border-radius: 5px;
  cursor: pointer;
}

.form__item-check:checked + .form__item-check_custom::before {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.form__item-check {
  display: none;
}
.form__item._check {
  display: flex;
  flex-direction: row;
  gap: 19px;
  margin-top: 35px;
}
.form__item-btn._green {
  color: #ffffff;

  background: #286562;
}
.form__item-btn._green:hover {
  background: #3b7e7b;
}
.form__item-btn._green:active {
  background: #627f7e;
}
.form__item-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 235px;
  height: 58px;
  background: #e0f0e5;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #286562;
  border: 0;
  cursor: pointer;
}
.form__item-btn:hover {
  background: #f1f3f2;
}
.form__item-btn:active {
  background: #d9dfdb;
}
.form__item._btn {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.form__text_gray {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #a6a6a6 !important;
  height: 24px;
  margin: 0 !important;
}
.form__text_black {
  color: #1b1f2b;
}
.form__item._select {
  position: relative;
}
.form__item._select::before {
  content: "";
  position: absolute;
  display: block;

  background-image: url("images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  bottom: 20px;
  width: 26px;
  height: 26px;
  z-index: 100;
  right: 20px;
}
.form__input-text {
  padding: 20px;
  gap: 10px;
  display: block;
  max-width: 1030px;
  height: 152px;
  background: #f9f7f4;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1b1f2b;
  resize: none;
}
#comment {
  width: 1030px;
  height: 152px;
}
.custom-tour__form select {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #a6a6a6;
}
/* feedback */
.feedback {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 135px;
  min-height: 1005px;
}
.feedback__title_wrapper {
  height: 232px;
  max-width: 529px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.feedback__title {
  font-family: Roboto;
  font-size: 59px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: center;
  color: #1b1f2b;
}
.feedback__subtitle {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #a6a6a6;
  margin-top: 30px;
}
.feedback_wrapper {
  display: flex;
  justify-content: space-between;
}
.feedback__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  width: 570px;
  height: 673px;
  background: #f4f0e9;
  border-radius: 50px;
  box-sizing: border-box;
}
.feedback__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #1b1f2b;
  width: 490px;
  height: 252px;
}
.feedback__person {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  height: 75px;
}
.feedback__person_wrapper-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.feedback__person_wrapper-2 img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
.feedback__person-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #a6a6a6;
}
.feedback__person-text._black {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1b1f2b;
}
/* photo block */
.photo {
  margin: 0 auto;

  width: 100%;
}
.photo__title_wrapper {
  margin: 0 auto;
  padding: 0px;
  gap: 30px;
  width: 726px;
  height: 159px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 135px;
}
.photo__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
  color: #1b1f2b;
  width: 726px;
  height: 73px;
}
.photo__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #a6a6a6;
  width: 418px;
  margin: 0 auto;
}
.photo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  box-sizing: border-box;
  margin: 0 30px;
}

.photo__item {
  border-radius: 50px;
}
.photo__item._first-line {
  height: 300px;
  max-width: 442px;
}
.photo__item._second-line {
  height: 300px;
  max-width: 347.32px;
}
.photo__item._third-line {
  height: 300px;
  max-width: 442px;
}
._first-line {
}
.photo__first-line,
.photo__third-line {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  gap: 30px;
}
.photo__second-line {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
}
/* story cards */
.story {
  height: 2060px;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 135px;
  position: relative;
}
.story__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;

  width: 615px;
  height: 159px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.story__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  /* or 73px */

  text-align: center;

  /* Black */

  color: #1b1f2b;
}
.story__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #a6a6a6;
}
.story__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.story__card {
  width: 100%;
  position: relative;
  height: 567px;
  background-image: url(images/story_photo-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  border-radius: 50px;
  cursor: pointer;
  transition: background-size 0.3s ease;
}
.story__card_background {
  width: 100%;
  height: 567px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px;
  gap: 37px;
  border-radius: 50px;
  box-sizing: border-box;
}
.card__title._story p {
  max-width: 554px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}
._story {
}
.card__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card__button {
}
.card__button-link {
}
.card__button-image {
}
.card__menu {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 35px;
}
.card__menu-item a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}
.card__menu-item a:hover {
  border-bottom: 1px solid #ffffff;
}
.story__card:hover {
  background-size: 120% auto;
}
.story__card:hover .card__button {
  background: #286562;
  border-radius: 50px;
}
.story__card:active .card__button {
  background: #efa501;
  border-radius: 50px;
}
#story_1 {
  background-image: url(images/story_photo-1.jpg);
}
#story_2 {
  background-image: url(images/story_photo-2.jpg);
}
#story_3 {
  background-image: url(images/story_photo-3.jpg);
}
/* footer */
.footer {
  max-width: 100%;
  margin-top: 135px;
}
.footer__invite {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  max-width: 771px;
  height: 370px;
  margin: 0 auto;
  margin-bottom: 135px;
}
.invite__photo {
  width: 370px;
  height: 370px;
  border-radius: 50px;
}
.invite__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.invite__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1b1f2b;
}
.invite__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  /* or 28px */

  /* Gray 300 */

  color: #a6a6a6;
}
.invite__subtitle-link {
  text-decoration: none;
  color: #1b1f2b;
  border-bottom: 1px solid transparent;
}
.invite__subtitle-link:hover {
  border-bottom: 1px solid #1b1f2b;
}
/* footer menu */
.footer__menu-wrapper {
  background: #f4f0e9;
  width: 100%;
  height: 88px;
}
.footer__menu-wrapper.width {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}
.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #a6a6a6;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
}
.footer__menu-item img {
  margin-right: 13px;
}
.footer__menu-item {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1b1f2b;
}
/* adaptive */
@media (max-width: 1170px) {
  .footer__menu-wrapper.width {
    padding: 0 53px;
    box-sizing: border-box;
  }
  .card,
  .card__background {
    width: 450px;
    height: 531px;
  }
  .tabs__body-content.active {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1170px;
    justify-items: center;
  }
  .custom-tour__form_wrapper {
    max-width: 1064px;
    margin: 100px 53px 135px 53px;
  }
  .form__item {
    position: relative;
    width: calc(100% / 2.0514);
  }
  .form__item._big {
    width: calc(100%);
    position: relative;
  }
  .form__item_wrapper {
    width: 100%;
    position: relative;
  }
  .form__item._check {
    gap: 11px;
    width: 100%;
  }
  .custom-tour__form input[type="date"],
  .custom-tour__form input[type="text"],
  .custom-tour__form input[type="tel"],
  .custom-tour__form select {
    height: 68px;
    width: 100%;
    margin-bottom: 13px;
  }
  .custom-tour__form {
    gap: 20px;
    padding: 60px;
  }
  .form__input-text {
    position: inherit;
    max-width: 100%;
  }
  .form__item._select::before {
    bottom: 30.59px;
  }
  .feedback {
  }
  .feedback__title_wrapper {
  }
  .feedback__title {
  }
  .feedback__subtitle {
  }
  .feedback_wrapper {
    margin-left: 53px;
    margin-right: 53px;
  }
  .feedback__item {
    width: 450px;
    min-height: 841px;
    height: 100%;
  }
  .feedback__item-text {
    height: fit-content;
    width: 100%;
  }
  .story__card {
    background-size: 130% auto;
  }
  .story__card:hover {
    background-size: 150% auto;
  }
  .story__wrapper {
    max-width: 100%;
    padding: 0 53px;
    position: relative;
    display: flex;
    gap: 50px;
    flex-direction: column;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  /* header */
  .header__wrapper {
    max-width: 910px;
    width: 88, 8671875%;
    padding: 0 57px;
  }
  .intro__subtitle {
    width: 442px;
  }
  .intro {
    width: 100vw;
    background-size: cover;
  }
  .header__menu {
    gap: 30px;
  }
  .tabs__body-content.active {
    display: grid;
    gap: 18px;
    grid-template-columns: 450px 450px;
    max-width: 1170px;
    justify-items: center;
    justify-content: center;
  }
  .photo {
  }
  .photo__title_wrapper {
  }
  .photo__title {
  }
  .photo__subtitle {
  }
  .photo__wrapper {
  }
  .photo__first-line {
    gap: 20px;
  }
  .photo__item._first-line {
    width: 314.67px;
  }
  .photo__second-line {
    gap: 20px;
  }
  ._second-line {
    width: 231px;
  }
  .photo__third-line {
    gap: 20px;
  }
  ._third-line {
    width: 314.67px;
  }
  #hidden {
    display: none;
  }
}

@media (max-width: 900px) {
  .header__menu {
    gap: 10px;
  }
  .header__menu {
    display: none;
  }
  .intro__title {
    width: 100%;
  }
  .tabs__body {
    margin-top: 50px;
  }
  .tabs__body-content.active {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1170px;
    justify-items: center;
  }
  .card {
    width: 318px;
    height: 318px;
    border-radius: 20px;
  }
  .card__background {
    width: 318px;
    height: 318px;
    border-radius: 20px;
    padding: 25px;
  }
  .card__title {
    gap: 13px;
  }
  .card__title h3 {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .card__title p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .card__button-link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card__button,
  .card:hover .card__button,
  .card:active .card__button {
    gap: 15px;
    height: 26px;
    width: 123px;
    background: none;
  }
  .card__button,
  .story__card:hover .card__button,
  .story__card:active .card__button {
    gap: 15px;
    height: 26px;
    width: 123px;
    background: none;
  }
  .story__card:hover {
    background-size: cover;
  }
  .card__button-image {
    height: 15px;
    width: 22px;
  }
  .choice-tour__wrapper {
    margin-top: 75px;
  }
  .choice-tour__title {
    font-family: Roboto;
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .tabs__header {
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100vw;
    gap: 10px;
    padding: 0 51.5px;
  }
  .tabs__header-item {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .tabs__header-item.active {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .custom-tour__form {
    padding: 20px 20px 40px;
    gap: 30px;
    border-radius: 30px;
  }
  .form__item {
    position: relative;
    width: calc(100%);
  }
  .form__item._btn {
    gap: 10px;
  }
  .form__item-btn {
    flex: 0 1 50%;
    height: 47px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
  .custom-tour__form_wrapper {
    margin: 40px 21px 75px 21px;
  }
  .custom-tour__title_wrapper {
    width: 100%;
    gap: 20px;
    height: auto;
  }
  .custom-tour__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    text-align: center;
    width: 100%;
  }
  .custom-tour__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    /* or 23px */

    text-align: center;
    max-width: 318px;
    margin: 0 auto;
  }
  .form__item._check {
    height: 69px;
    gap: 10px;
  }
  .form__item p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 142% !important;
  }
  .form__text_gray {
    height: 69px;
    width: 248px;
  }
  .form__item-check_custom {
    width: 20px;
    height: 20px;
  }
  .form__input-text {
    height: 132px !important;
  }
  .form__item-check:checked + .form__item-check_custom::before {
    top: -1%;
    left: 0%;
  }
  /* feedback */
  .feedback {
  }
  .feedback__title_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 21px;
    gap: 20px;

    width: 360px;
    height: 142px;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
  .feedback__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1b1f2b;
  }
  .feedback__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #a6a6a6;
    margin: 0;
  }
  .feedback_wrapper {
    margin: 0 21px;
    gap: 18px;
  }
  .story__card {
    background-size: cover;
  }
}
@media (max-width: 650px) {
  .intro__title {
    height: 114px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .feedback_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .feedback__item {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    min-height: auto;
    max-height: 592px !important;
    gap: 40px !important;
    justify-content: none;
  }
  .feedback__item-text p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
  }
  .feedback__person-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #a6a6a6;
  }
  .feedback__person-text._black {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
  .story__wrapper {
    padding: 0 21px;
  }
  .story__card {
    border-radius: 20px;
  }
  .story__card_background {
    padding: 30px;
    border-radius: 20px;
  }

  .story__card_background .card__title {
    gap: 20px;
  }
  ._story {
  }
  .card__footer {
  }
  .card__button {
  }
  .card__button-link {
  }
  .card__button-image {
  }
  .card__menu {
    display: none;
  }
  .card__menu-item {
  }
  .story__title-wrapper {
    max-width: 319px;
  }
  .story__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 319px;
  }
  .story__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    max-width: 319px;
  }
  .footer {
    margin-top: 75px;
  }
  .footer__invite {
    flex-direction: column;
    height: 285px;
    margin-bottom: 75px;
  }
  .invite__photo {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }
  .invite__text {
    width: 291px;
    height: 122px;
  }
  .invite__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.04em;
  }
  .invite__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #a6a6a6;
  }
  .invite__subtitle-link {
  }
  .footer__menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__menu-wrapper.width {
    flex-direction: column;
    gap: 7px;
    height: 53px;
  }
  .footer__text {
  }
  .footer__menu {
  }
  .footer__menu-item {
  }
}
@media (max-width: 650px) {
  .intro__subtitle {
    width: 100%;
  }
  .photo__title_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 21px;
    gap: 20px;

    width: 360px;
    height: 142px;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .photo__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    /* or 38px */

    text-align: center;
    letter-spacing: 0.02em;
    width: 318px;
    height: 76px;
  }
  .photo__subtitle {
    width: 318px;
    height: 46px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #a6a6a6;
  }
  .photo__wrapper {
    margin: 0 20px;
  }
  .photo__first-line {
    gap: 18px;
  }
  .photo__item._first-line {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
  .photo__second-line {
    gap: 10px;
  }
  .photo__item._second-line {
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
  }
  .photo__third-line {
    gap: 18px;
  }
  .photo__item._third-line {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
  #hidden {
    display: none;
  }
  #hidden_2 {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    height: 22px;
    width: 133px;
  }
  .header__menu,
  .header__phone {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .header__wrapper {
    padding: 0 20px;
    align-items: center;
  }
  .footer__menu-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 142%;
  }
  .footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 23px;
  }
}
@media (max-width: 360px) {
  /* header */

  .intro__subtitle {
    width: 310px;
    height: 69px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #ffffff;
  }
  .intro__wrapper {
    padding-top: 140px;
    gap: 40px;
  }
  .intro {
    background: url(images/header-background.jpg) center no-repeat;
    height: 488px;
  }
  .story__card_background {
    height: 455px;
  }
  .story__card {
    height: 455px;
  }
  .card__title._story p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    color: #ffffff;
  }
  .story__title-wrapper {
    margin-bottom: 50px;
  }
  .story {
    height: fit-content;
  }

  .footer__menu-item img {
    margin-right: 6px;
  }
  .footer__menu {
    width: 314px;
  }
}
